<!DOCTYPE html>
<html>
<head>
	<!-- including necessary files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>CricUpdate: Home Page</title>
</head>
<body>
	<div class = "row" id = "top-nav">
		<h1 class = "text-center"><span style="color: Blue">Cric</span><span style="color: Red">Update</span></h1>
		<p class = "text-center">Be updated with cricket world</p>
		<hr>
	</div>
	<div class = "row">
		<div class = "col-lg-8 col-sm-8 col-md-8 col-xs-8">
			<div class="text-center" id = 'box-loading'>
				<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
			</div>
			<div id = "box">
			</div>	
		</div>

		<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<div class="text-center" id = "score-box-loading">
				<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
			</div>
			<div id="score-box">
				<div id='score-fav-live'></div>
				<div id="score-box-live"></div>
				<div id="score-box-later"></div>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="js/listScores.js"></script>
<script src="js/listNews.js"></script>
</html>
